.navbar-collapse{
    flex-grow: unset;
}
.container-fluid{
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.edit-nav-link{
    color:var(--pick--color) !important;
    font-weight: 700;
    
}
.header{
    background-color: var(--white--color);
    border-bottom: 1px solid ;
}
.edit-navbar{
    background-color: var(--white--color) !important;
}
.content{
    background-color: var(--content--background);
    padding-bottom: 100px;
}
.content-title{
    padding: 80px 0 100px 0;
}
.content-tab{
    background-color: var(--white--color);
    text-align: center;
    padding: 15px 0 20px 0;
    margin: 0 10px 0 10px ;
}
.tab-number{
    font-size: 35px;
    font-weight: 700;
}
.tab-text{
    font-size: 18px;
    font-weight: 500;
    margin-top:10px;
}
p{
    margin-bottom: unset;
}
.footer{
    background-color:var(--footer--background);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color:var(--white--color);
}
.footer-text-color{
    color:var(--CSE--color);
}
.navbar-toggler{
    margin-left: auto;
}
.footer-text{
    text-align: center;
}
